<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<BottomNavigation selectedIndex="1">
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
        </TabStripItem>

        <TabStripItem>
            <Label text="Journal"></Label>
        </TabStripItem>

        <TabStripItem>
            <Label text="Community"></Label>
        </TabStripItem>

        <TabStripItem>
            <Label text="Menu"></Label>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="home"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="journal"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="community"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="menu"></page-router-outlet>
    </TabContentItem>

</BottomNavigation>