<!-- <Button text="home works!" class="btn btn-primary"></Button> -->
<!-- <Label text="Connect &amp; Cultivate"></Label> -->
<!-- <Label text="With your community, gardens and growers."></Label> -->
<!-- <Label text="With your community, gardens and growers"></Label> -->
<!-- <Button text="home works!" class="btn btn-primary"></Button> -->
<StackLayout orientation="vertical">
    <Label text="Connect &amp; Cultivate" class="h1"  textWrap="true"></Label>
    <Label text="Community, gardens and growers." class="h2"  textWrap="true"></Label>

    <GridLayout columns="200, auto, auto" rows="25, auto" class="categoryFood">
        <Label text="Garden-fresh fruit and veg..." class="info" textWrap="true"></Label>
        <Button text="GIVE" tap="goAway" row="2" col="0"></Button>
        <Button text="GET" row="2" col="2"></Button>
    </GridLayout>

    <GridLayout columns="200, auto, auto" rows="25, auto" class="categoryPlants">
        <Label text="Seeds and starter plants..." class="info" textWrap="true"></Label>
        <Button text="GIVE" tap="goAway" row="2" col="0"></Button>
        <Button text="GET" row="2" col="2"></Button>
    </GridLayout>

    <GridLayout columns="200, auto, auto" rows="25, auto" class="">
        <Label text="Spades, pots, trowels, soil..." class="info" textWrap="true"></Label>
        <Button text="GIVE" tap="goAway" row="2" col="0"></Button>
        <Button text="GET" row="2" col="2"></Button>
    </GridLayout>

    <GridLayout columns="200, auto, auto" rows="25, auto">
        <Label text="Able hands and time to spare..." class="info" textWrap="true"></Label>
        <Button text="GIVE" tap="goAway" row="2" col="0"></Button>
        <Button text="GET" row="2" col="2"></Button>
    </GridLayout>

    <GridLayout columns="200, auto, auto" rows="25, auto">
        <Label text="Community plots and garden space..." class="info" textWrap="true"></Label>
        <Button text="GIVE" tap="goAway" row="2" col="0"></Button>
        <Button text="GET" row="2" col="2"></Button>
    </GridLayout>

</StackLayout>